* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: black;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1920px;
}

/*===============>    HEADER    <===============*/

header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70px;
    display: block;
}
.inner_header {
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

/*===============>    LOGO    <===============*/

.logo-container {
    height: 100%;
    display: table;
    float: left;
}
.logo-container a{
    color: #FCECC9;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.logo-container a:visited{
    color: #FCECC9;
}

/*===============>    NAVIGATION    <===============*/

.navigation-menu {
    height: 100%;
    display: block;
    float: right;
}
.navigation-menu a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 15px;
}
.navigation-menu a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #fcecc9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.navigation-menu a li:hover{
    color: #fcecc980;
}

/*===============>    MAIN SECTION    <===============*/

.page_intro {
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}

.main-section{
    /* background-color: green; */
    display: flex;
    height: 85%;
    /* background-color: black;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1920px; */
}
.button-container {
    /* background-color: red; */
    width:200px;
    height: 82px;
    margin: auto;
    text-align: center;
}
.button-container h1{
    font-size: 15px;
    margin: 15px;
    color: #FCECC9;
    font-family: Arial, Helvetica, sans-serif;
}
.button-container button{
    margin: auto;
    border-color: #FCECC9;
    border-style: solid;
    border-width: 1px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #FCECC9;
    font-family: Arial, Helvetica, sans-serif;
}

/*===============>    PORTFOLIO    <===============*/

.portfolio {
    margin: 40px 10%;
    height: 800px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
}
.content {
    background-color: rgb(0, 255, 42);
    display: flex;
    flex-direction: column;
}
.content_row {
    background-color: purple;
    display: flex;
    flex-direction: row;
    max-height: 500px;
}
.content_column {
    flex: 1;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
.project_hero {
    height: 300px;
    background-color: rgb(95, 95, 95);
    flex: 1;
    /* background-image: url(//source.unsplash.com/random/300x300);
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat; */
}
.project {
    background-color: navy;
    flex: 1;
}
/* .project_hero img {
    width: 100%;
    height: auto;
    max-height: 500px;
}
.project img {
    width: 100%;
    height: auto;
    max-height: 250px; */
}

/*===============>    FOOTER    <===============*/

footer {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
}
footer h4{
    color: rgba(252, 236, 201, 0.5);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
@media screen and (max-width: 750px) {
    .navigation-menu {
        display: none;
    }
    .content_row {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .content_column {
        display: flex;
        flex-direction: row;
        max-height: 500px;
    }
}